
/* #root {
  max-width: 1420px;
  margin: 0 auto;
} */

/* .App{
    max-width: 1550px;
} */
/* *{
  justify-content: center;
  margin: 0 ;
  padding: 0;
} */

body {
  background-color: #fff;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


/* .card1{
  background-color: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 50px;
  padding: 0 20px;
  position: fixed;
  z-index: -1px;
  max-width: 100%;
  margin-left: 1px;
} */
/* .card {
  background: transparent;
  margin: 0;
  padding: 0;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
} */

/* .btn-primary {
  background-color: #007bff;
  border: none;
}

.btn-success {
  background-color: #28a745;
  border: none;
} */

/* .alert {
    margin-bottom: 20px;
  }
   */
/* .text-center {
  text-align: center;
} */


/* .gradient_background{
    background: linear-gradient(90deg, #92ebbb, #d7dade);
    height: 100vh;
    width: 100vw;
   } */

/* .active {
  background: rgb(11, 11, 239);
  color: rgb(248, 244, 244);
  text-align: center;
  padding-left: 20px;
  padding: 10px 10px 10px 10px;
  border-radius: 25px;
  font-weight: bold;
  margin: 10px;

}

.inactive {
  margin: 12px;
  color: rgb(20, 12, 251);
}

.active:hover{
  color: rgb(11, 11, 240);
}  */

/* .my-com {
  color: white;
}

.my-com:hover {
  color: white;
} */

/* body {
    background: linear-gradient(to right, #9577b6, #2575fc);
    color: #fff;
  } */

/* .form-container {
  background-color: #fff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  color: #333;
}

.form-container h2 {
  font-weight: bold;
}

.btn-primary {
  background-color: #2575fc;
  border-color: #2575fc;
}

.btn-primary:hover {
  background-color: #1a5cb8;
  border-color: #1a5cb8;
} */

/* .card {
  background-color: rgba(255, 255, 255, 0.9);
  Semi-transparent background
  border-radius: 15px;
  Rounded corners
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  Subtle shadow
} */

/* button {
  background-color: #44c767;
  Green background
  border-radius: 30px;
  Rounded button
  transition: background-color 0.3s ease;
} */

/* button:hover {
  background-color: #5cbf2a;
  Hover effect
} */
