

.container2{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
   width: 500px;
   height: 600px;
   /* border: 1px solid gray; */
   border-radius: 10px;
   margin-top: 20px;
   margin-bottom: 20px;
   
}

.header23{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px;
    width: 100%;
    /* margin-top: 30px; */
}

.text1{
    color: #3c009d;
    padding-top: 20px;
    font-size: 48px;
    font-weight: 700;
}

.underline1{
    width: 61px;
    height: 6px;
    background: #3c009d;
    border-radius: 9px;

}

.inputss{
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.inputt{
    display: flex;
    align-items: center;
    margin: auto;
    width: 430px;
    height: 56px;
    background: #eaeaea;
    border-radius: 6px;
}

.inputt img{
    margin: 0px 30px;
}

.inputt input{
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline:none;                              
    color: #131212;
    font-size: 18px;
}

.forget-passw{
    padding-left: 62px;
    margin-top: 27px;
    color: #797979;
    font-size: 18px;
    margin-left: -25px;
}


.forget-passw span{
    color: #3c009d;
    cursor: pointer;
    font-size: 15px;
}

.submitt1{
    display: flex;
    gap:30px ;
    margin: 60px auto;
    margin-top: 40px;
}

.submit1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 55px;
    color: #fff;
    background: #4c00b4;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
}

.link1{
    font-size: large;
    font-weight: 400;
    padding-top: -30px;
    text-align: center;
    padding-top: -10px;
}




.social1{
    text-align: center;
    margin-top: -40px;
}





